<form action="/da/update_da/<%= da.id %>" method="POST" class="form-signin">
  <h2>Edit this form</h2>

  <p><input required type="text" name="course_code" value="<%= da.course_code%>" placeholder="Course Code"></p>
  <p><input required type="hidden" name="name" value="<%= session.User.name %>" placeholder="Your name"></p>
  <p><input required type="text" name="subject" value="<%= da.subject %>" placeholder="Subject"></p>
  <p><input required type="text" name="faculty" value="<%= da.faculty %>" placeholder="Faculty"></p>
  <p><input required type="text" name="link" value="<%= da.link %>" placeholder="Link"></p>

  <p><input type="submit" value="Update" class="btn btn-lg- btn-primary btn-block"/></p>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

